body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: #000000;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(6px);
  position: sticky;
  top: 0;
  z-index: 10;
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.video-background video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1 {
  color: rgb(255, 255, 255);
  font-family: serif;
}

nav {
  margin-right: -340px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin: 0 15px;
}

nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
}

nav a.active, nav a:hover {
  background: #090688;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.places {
  text-align: center;
  padding: 40px;
  min-height: 100vh;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.card {
  background: white;
  width: 250px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  overflow: hidden;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}

.card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.card h3 {
  color: #004e89;
}

.card p {
  padding: 0 15px 10px;
  font-size: 14px;
}

.book-btn {
  margin-bottom: 15px;
  padding: 8px 16px;
  border: none;
  border-radius: 20px;
  background-color: rgb(141, 6, 6);
  color: white;
  font-family: monospace;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}

.book-btn:hover {
  background-color: rgb(228, 228, 51);
  color: black;
}

footer {
  text-align: center;
  padding: 30px;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(6px);
  font-size: 0.9em;
  position: relative;
}

#clickBtn {
  width: 200px;
  height: 40px;
  border-radius: 20px;
  background-color: rgb(141, 6, 6);
  color: white;
  font-family: monospace;
  border: none;
}

#clickBtn:hover {
  background-color: rgb(228, 228, 51);
  color: black;
}